*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
width:100%;
min-height:100vh;
overflow-x:hidden;
font-family:serif;
background:transparent;
}


.page{
min-height:100vh;
position:relative;
overflow:hidden;
}


/* صفحه اول */

.first-page{

height:100vh;
background:url("assets/background.jpg") center/cover no-repeat;

display:flex;
flex-direction:column;
align-items:center;

position:relative;

padding-top:60px;
}


.save-date{
width:260px;
z-index:2;
}


.names{
width:320px;
margin-top:10px;
z-index:2;
}


.tap{

color:white;
margin-top:25px;
font-size:16px;
letter-spacing:2px;
z-index:2;

}


/* پاکت */

.envelope-area{

position:relative;

width:330px;
height:230px;

margin-top:70px;

cursor:pointer;

perspective:1000px;

}


/* کارت داخل پاکت */

.card-inside{

position:absolute;

width:280px;

left:25px;

bottom:20px;

z-index:1;

transition:1.5s ease;

transform:translateY(80px);

opacity:0;

}


/* در پاکت */

.flap{

position:absolute;

width:330px;

top:0;

left:0;

z-index:3;

transform-origin:top;

transition:1s ease;

}


/* جلوی پاکت */

.pocket{

position:absolute;

width:330px;

bottom:0;

left:0;

z-index:4;

}


/* حالت باز شدن */

.envelope-area.open .flap{

transform:rotateX(180deg);

}


.envelope-area.open .card-inside{

transform:translateY(-80px);

opacity:1;

}


/* کارت بزرگ */

.full-screen-card{

position:fixed;

inset:0;

background:transparent;

display:none;

align-items:center;

justify-content:center;

z-index:20;

}


.full-screen-card img{

max-width:95%;

max-height:95%;

animation:zoom 1s ease;

}



@keyframes zoom{

from{

transform:scale(.5);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}


/* دکمه */

#mapBtn{

position:fixed;

bottom:30px;

left:50%;

transform:translateX(-50%);

padding:12px 25px;

border-radius:30px;

border:none;

display:none;

z-index:30;

}
